body {
    background-color: #f16059;
  }
  .page {
    width: 80%;
    max-width: 960px;
    margin: 50px auto;
    text-align: center;
    background-color: #f16059;
    border-radius: 5px;
  }
  body {
    font: 14px/26px 'Bungee', Helvetica, Arial, sans-serif;
    color: #222;
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
  }
  header{
    font-size: 24px;
    line-height: 48px;
  }
  h4 {
    font-size: 21px;
    font-family: 'Bungee', cursive;
  }
  h4 #clock {
    font-size: 36px;
    display: block;
    padding: 5px 0px;
  }
  h1, h2, h3, h6 {
    font-family: 'Bungee Shade', cursive;
  }
  
  blockquote {
    font: 2em/1em 'Open Sans', sans-serif;
    -webkit-text-stroke: 1px black;
    text-shadow: 2px 2px #000;
    margin: -80px 0 100px 0;
    color: #fff;
  }
  
  #container {
      position: relative;
      height: 600px;
      width: 1000px;
  }

  #container > * {
    position: absolute;
  }

  #input1 {
    background-color: #222;
    width: 150px;
    height: 150px;
    font-family: 'Bungee', cursive;
    font-size: 18px;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 0;
    margin-top: 20px;
    top: 0;
    left: 0;
  }

  #input2 {
    background-color: #222;
    width: 150px;
    height: 150px;
    font-family: 'Bungee', cursive;
    font-size: 18px;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 0;
    margin-top: 20px;
    top: 200;
    left: 0;
  }

  #input3 {
    background-color: #222;
    width: 150px;
    height: 150px;
    font-family: 'Bungee', cursive;
    font-size: 18px;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 0;
    margin-top: 20px;
    top: 400;
    left: 0;
  }

  #weightedsum {
    background-color: #222;
    width: 150px;
    height: 150px;
    font-family: 'Bungee', cursive;
    font-size: 18px;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 0;
    margin-top: 20px;
    top: 200;
    left: 400;
  }

  #activationfunction {
    background-color: #222;
    width: 150px;
    height: 150px;
    font-family: 'Bungee', cursive;
    font-size: 18px;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 0;
    margin-top: 20px;
    top: 200;
    left: 800;
  }

  #inputarrow1 {
    top: 150;
    left: 180;
    font-size: 200px;
  }

  #weight1 {
    top: 85;
    left: 180;
    font-size: 200px;
    color: #fff;
    font-family: 'Bungee', cursive;
    font-size: 18px;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  }

  #inputarrow2 {
    top: 300;
    left: 180;
    font-size: 200px;
  }

  #weight2 {
    top: 270;
    left: 180;
    font-size: 200px;
    color: #fff;
    font-family: 'Bungee', cursive;
    font-size: 18px;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
  }

  #inputarrow3 {
    top: 450;
    left: 180;
    font-size: 200px;
  }

  #weight3 {
    top: 380;
    left: 180;
    font-size: 200px;
    color: #fff;
    font-family: 'Bungee', cursive;
    font-size: 18px;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  }

  #weightedsumarrow {
    top: 300;
    left: 575;
    font-size: 200px;
  }

  #activationfunctionarrow {
    top: 300;
    left: 980;
    font-size: 200px;
  }

  #partyTimeButton {
    background-color: #222;
    width: 300px;
    font-family: 'Bungee', cursive;
    font-size: 18px;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 0;
    margin-top: 20px;
  }
